extends ../base.pug
include ../mixins/video.pug
block content
    div
        p=video.description
        //- ul
        //-     each hashtag in video.hashtags
        //-         li=hashtag
        small=video.createdAt
    div 
        a(href=`${video.id}/edit`) Edit Video
    div
        a(href=`${video.id}/delete`) Delete Video