extends ../base.pug
include ../mixins/video.pug
block content
    div 
        video(src="/"+video.fileUrl,controls)
    div
        p=video.description
        //- ul
        //-     each hashtag in video.hashtags
        //-         li=hashtag
        small=video.createdAt
    //- if user
    //- if video
    div 
        p Uploaded by #{maker.name}
        a(href="/users/"+maker._id) #{maker.name} 의 프로필
            
    if String(user._id)===String(video.owner) 
        div 
            a(href=`${video.id}/edit`) Edit Video
        div
            a(href=`${video.id}/delete`) Delete Video